<div class="mt-4 {{ theme.panel }}">    
    <button 
        mountTo="details_content"
        component="blog::admin.posts.add"
        title="{{ tooltip.create }}"
        class="{{ theme.buttons.green }} create-blog-post">
        {{ buttons.new }}
    </button>     
</div>
<div class="mt-4 flex flex-row items-start">
    <div 
        class="flex-1 min-w-1/2 hidden" 
        id="details_content">
    </div>
    <div class="ml-4 flex-grow w-full">
        {{ component('blog::admin.posts.view') }}
    </div>   
</div>

{{  component('system:admin.modal.confirm',{
        id: 'post_delete_modal',
        content: messages.delete
    }) 
}}
