{% set posts = createModel('Posts','blog').softDeletedQuery().get() %}  
{% if posts|length == 0 %}
    <tr>
        <td>..</td>
    </tr>
{% endif %}
{% for post in posts %}
    <tr 
        id="row_{{ post.uuid }}" 
        class="item-{{ post.item.uuid }}">
        <td>
            <button 
                class="{{ theme.buttons.green }} restore-post" 
                uuid="{{ post.uuid }}" 
                {{ buttons.restore|attr('title') }}>
                {{ component('icons~info',theme.icons.green,'svg') }}              
            </button>    
        </td>
        <td>         
            {{ labels.post }}
        </td>    
        <td>
            {{ post.date_created|dateFormat }}
        </td>                         
        <td>
            {{ post.title }}
        </td>    
    </tr>
{% endfor %}
