<div class="{{ theme.panel }}">  
    <h4 class="font-bold my-2">
        {{ title }}
    </h4>
    {% if hasModule('nlp') == true %}
    <div class="mt-4">
        <div class="form">
            <div class="{{ theme.form.field }}">
                <label class="{{ theme.form.label }}">
                    {{ labels.text }}
                </label>
                <div class="input">
                    <input type="text" id="text" placeholder="{{ labels.placeholder }}">
                    <a class="{{ theme.form.buttons.menu }} generate-text-button">
                        {{ buttons.generate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4" id="text_generation_result">

    </div>
    {% else %}
        {{  component('system:admin.alert.warning',{
                message: labels.module
            }) 
        }}
    {% endif %}
</div>