{% if uuid is not empty %}
    {% set post = createModel('Posts','blog').findById(uuid) %}
{% endif %}
<form class="ui form" id="editor_form">
    <input type="hidden" value="{{ page }}" name="page">
    <input type="hidden" value="{{ uuid }}" name="uuid" id="uuid">
    <div class="fields">
        <div class="six wide field">
            <label>{{ labels.title }}</label>
            <input name="title" type="text" placeholder="{{ placeholders.title }}" value="{{ post.title }}">
        </div>
        {% if uuid is not empty %}
        <div class="four wide field">
            <label>{{ labels.category }}</label>
            {% set category = createModel('Category','category').getList(null,'blog') %}
            {{  component('system:admin.orm.relations.fields.dropdown',{ 
                    model: 'CategoryRelations',
                    extension: 'category',
                    type: 'post',
                    relation_id: post.id,
                    items: category,
                    class: 'fluid'
                }) 
            }}   
        </div>
        {% endif %}
        <div class="two wide field">
            <label>{{ labels.status }}</label>
            {{ component('blog::admin.status.dropdown',{ id: 'post_status', selected: post.status, uuid: uuid, class: 'p-2' }) }}   
        </div>
        <div class="two wide field">
            {% if uuid is not empty %}
                <label>{{ labels.date }}</label>
                <div class="ui list">
                    {% if post.date_created is not null %}
                    <div class="item">
                        <span class="ui pr-2 text grey">{{ labels.created }}</span>{{ post.date_created|dateFormat }}
                    </div>
                    {% endif %}                
                    {% if post.date_updated is not null %}
                    <div class="item">
                        <span class="ui pr-2 text grey">{{ labels.updated }}</span>{{ post.date_updated|dateFormat }}
                    </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="feild">
            {% if uuid is not empty %}
                <label>View</label>         
                <div title="{{ post.url }}">
                    <a class="ui icon tertiary button" href="{{ url(post.url) }}" target="blog">
                        <i class="external alternate blue icon"></i>
                    </a>                     
                </div>  
            {% endif %}         
        </div>
    </div>
    <textarea name="content" id="editor">{{ post.content }}</textarea>    
    {{ component('semantic~form.footer') }}    
</form>