<div class="{{ theme.panel }}">
    <table class="{{ theme.table.default }}">
        <thead>
            <tr class="table-head">                          
                <th class="w-64">{{ columns.action }}</th>
                <th class="">{{ columns.date }}</th>
                <th class="">{{ columns.status }}</th>
                <th class="w-1/2">{{ columns.title }}</th>   
                <th class="">{{ columns.user }}</th>                      
            </tr>
        </thead>
        <tbody id="post_items">
            {{ component('blog::admin.posts.view.rows',{ }) }}   
        </tbody>  
    </table>
    <div class="my-2 ml-2" id="paginator">
        {{  component('system:admin.paginator',{ 
                id: 'blog_post_paginator',
                rows_selector: 'post_items',
                component: 'blog::admin.posts.view.rows',
                namespace: 'posts' 
            }) 
        }}
    </div>
</div>
