<div class="ui segment">
    <table class="ui compact stackable borderless basic table">
        <thead>
            <tr class="table-head">                          
                <th class="three wide">{{ columns.action }}</th>
                <th class="two wide">{{ columns.date }}</th>
                <th class="four wide">{{ columns.status }}</th>
                <th class="">{{ columns.title }}</th>   
                <th class="four wide">{{ columns.user }}</th>                      
            </tr>
        </thead>
        <tbody id="view_items">
            {{ component('blog::admin.posts.view.rows',{ }) }}   
        </tbody>  
    </table>
    <div class="my-1" id="paginator">
        {{  component('semantic~paginator.admin',{ 
                id: 'blog_post_paginator',
                rows_selector: 'view_items',
                component: 'blog::admin.posts.view.rows',
                namespace: 'posts' 
            }) 
        }}
    </div>
</div>