{{  component('system:admin.tabs',{ 
        items: [ 
            {          
                title: labels.posts, 
                component: 'blog::admin.posts', 
                svg_icon: 'icons~newspaper', 
                active: true 
            },                 
            {                
                title: labels.trash, 
                component: 'blog::admin.trash', 
                svg_icon: 'icons~trash' 
            },    
            {               
                title: labels.settings,
                component: 'blog::admin.settings', 
                svg_icon: 'icons~cog' 
            }
        ],
        menu: {            
            extension: 'blog' 
        },
        content: { 
            component: 'blog::admin.posts' 
        } 
    })
}}