{{  component('semantic~tabs',{ 
        items: [ 
            { id: 'editor_button', title: labels.editor, component: 'blog::admin.pages', icon: 'edit', active: true },     
            { id: 'settings_button', title: labels.settings, component: 'blog::admin.settings', icon: 'cogs' },   
            { id: 'trash_button', title: labels.trash, component: 'blog::admin.trash', icon: 'trash' }     
        ],
        menu: { component: 'system:admin.extensions.menu.actions', extension: 'blog' },
        content: { component: 'blog::admin.pages' } 
    })
}}