{% if uuid is not empty %}
    {% set item = createModel('Posts','blog').findById(uuid) %}
{% endif %}
<tr id="row_{{ item.uuid }}">        
    <td>
        <button 
            title="{{ buttons.details }}"
            mountTo="details_content"
            component="blog::admin.posts.details"
            class="{{ theme.buttons.icon }} post-action" 
            params="uuid:{{ item.uuid }}">
            {{ component('icons~info',theme.icons.menu,'svg') }}           
        </button>       
        <button 
            title="{{ buttons.edit }}"
            mountTo="details_content"
            component="blog::admin.posts.edit"
            params="uuid:{{ item.uuid }}"
            class="{{ theme.buttons.icon }} post-action">
            {{ component('icons~edit',theme.icons.menu,'svg') }}      
        </button>
        <button 
            title="{{ buttons.delete }}"
            class="{{ theme.buttons.icon }} delete-post" 
            uuid="{{ item.uuid }}">
            {{ component('icons~trash',theme.icons.delete,'svg') }}                  
        </button>                          
    </td>
    <td>
        {{ item.date_created|dateFormat }}
    </td>
    <td>
        {{  component('blog::admin.status.dropdown',{ 
                selected: item.status, 
                class: 'select-xs w-64',
                uuid: item.uuid 
            }) 
        }} 
    </td>
    <td>
        {{ item.title }}
    </td>    
    <td>
        {{ item.user.user_name_or_email }}
    </td>       
</tr>