<div class="ui stackable grid">
    <div class="four wide column mt-2">
        <div class="ui segment mt-4">
            <div class="ui small header">          
                <i class="bordered icon file outline blue alternate"></i>
                <div class="content">
                    {{ labels.pages }}
                    <div class="sub header">
                        <a class="ui icon tertiary blue button add-page" {{ labels.create|attr('title') }}>
                            <i class="icon blue plus"></i>
                            {{ labels.create }}
                        </a>
                    </div>
                </div>           
            </div>
        </div>       
        <div class="ui segment mt-4" id="pages_list">           
            {{ component('blog::admin.pages.list') }}
        </div>
    </div>
    <div class="twelve wide column" id="page_editor" edit-page="">           
        {{ component('blog::admin.pages.editor') }}                 
    </div>
</div>