{% set deletedPages = createModel('Pages','blog').getDeletedCount() %}  
{% set deletedPosts = createModel('Posts','blog').getDeletedCount() %}
{% set disabled = ((deletedPages + deletedPosts) == 0) ? 'disabled' : '' %}
<div class="mt-4 {{ theme.panel }}">
    <button class="{{ theme.buttons.delete }} empty-trash {{ disabled }} trash-button" {{ buttons.empty.title|attr('title') }}>      
        {{ buttons.empty.content }}
    </button>
</div>
<div class="mt-4 {{ theme.panel }}">
    <table class="{{ theme.table.default }}">
        <thead>
            <tr>           
                <th >{{ labels.actions }}</th>    
                <th >{{ labels.type }}</th> 
                <th >{{ labels.created }}</th>                 
                <th >{{ labels.name }}</th>           
            </tr>
        </thead>
        <tbody 
            id="items_rows" 
            component="blog::admin.trash.rows" 
            namespace="trash">
            {{ component("blog::admin.trash.rows") }}
        </tbody>
    </table>
</div>